<form [formGroup]="personForm" (ngSubmit)="addNew()" class="form">
    <div class="mb-3 form-check">
      <label for="name">name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Name">
    </div>
    <div class="mb-3 form-check">
      <label for="age">Age</label>
      <input type="number" class="form-control" formControlName="age" placeholder="age">
    </div>
    <div class="mb-3 form-check">
        <label for="job">Job</label>
        <input type="text" class="form-control" formControlName="job" placeholder="job">
      </div>
    <button type="submit" class="btn btn-primary button">Submit</button>
  </form>
  <button class="btn btn-success" routerLink="/persons">Go to person List </button>